* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #511281;
  width: 100%;
  overflow: hidden;
  font-family: 'Newsreader';
}

.outer-container {
  margin: 0 auto;
  position: relative;
  height: 360px;
}

.blocker-box {
  position: absolute;
  height: 320px;
  width: 320px;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-sizing: border-box;
  background-color: #511281;
}

.blockers {
  width: 50%;
  background-color: white;
  height: 105%;
  background-color: #511281;
}

.left-blocker {
  z-index: 50;
}

.right-blocker {
  z-index: 25;
}

.left-timer-box {
  z-index: 30;
  position: absolute;
  height: 320px;
  width: 320px;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.left-timer-loop {
  height: 320px;
  width: 160px;
  border-radius: 160px 0 0 160px;
  background-color: #4ca1a3
}

.right-timer-box {
  z-index: 20;
  position: absolute;
  height: 320px;
  width: 320px;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(180deg);
}

.right-timer-loop {
  height: 320px;
  width: 160px;
  border-radius: 160px 0 0 160px;
  background-color: #4ca1a3
}

.timer-container {
  position: absolute;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  z-index: 100;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  background-color: #a5e1ad;
}

.seconds-input {
  display: block;
  width: 140px;
  height: 80px;
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 45px;
  padding-top: 15px;
  background-color: white;
  color: #21094e;
  border-radius: 15px;
  cursor: default;
  font-weight: 500;
  border: none;
  font-family: 'Newsreader';
  transition: box-shadow .5s;
  caret-color: transparent;
}

.seconds-input:focus {
  outline: none;
  box-shadow: 0 15px 15px black;
}

.control-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 80px solid #21094e;
  cursor: pointer;
}

.pause-button {
  display: flex;
  justify-content: space-between;
  width: 50px;
  cursor: pointer;
}

.pause-element {
  height: 100%;
  width: 20px;
  background-color: #21094e;
}

h1 {
  color: white;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

p {
  color: white;
  width: 50%;
  text-align: center;
  margin: 4px auto;
}